html, body {
  height: 100%;
}

body {
  color: #212226;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Acme", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

@font-face {
  font-family: SAMARN;
  src: url(SAMARN.woff);
}

#preloader {
  background-color: #fff;
  background-image: url("../img/preloader/preloader.gif");
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1111;
}

.navbar {
  padding: 0 0 5px 0;
  border-radius: 0 0 200px 200px;
  background-color: #3399FF;
  -webkit-transition: all 300ms linear;
  transition: all 350ms linear;
}

.site-nav-wrapper {
  padding: 20px 100px 75px;
}

.navbar-brand {
  -webkit-text-stroke: 0.25px black;
  color: #fff;
  font-family: SAMARN;
  font-size: 36px;
}

.navbar-brand img {
  width: 72px;
  padding-bottom: 6px;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #fff;
}

ul.navbar-nav {
  position: absolute;
  left: 45%;
  top: 40%;
  background-color: #fff;
}

ul.navbar-nav > li > a {
  font-family: "Raleway", sans-serif;
  color: #111;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 4px solid #0455a5;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
  background: none;
  color: #3399FF;
}

.white-nav-top {
  top: -2.5%;
  background: #fff;
  border-radius: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-box-shadow: 0 8px 6px -9px #999;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}

.white-nav-top .navbar-brand {
  color: #3399FF;
}

.white-nav-top ul.navbar-nav {
  top: 40%;
  left: 47%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 6px -9px #3399FF;
  box-shadow: 0 10px 6px -9px #3399FF;
}

.white-nav-top ul.navbar-nav > li > a {
  color: #212226;
}

.white-nav-top ul.navbar-nav > li > a:hover,
.white-nav-top ul.navbar-nav > li > a:focus {
  color: #3399FF;
}

#home {
  background: none;
  height: 100%;
}

#slideshow {
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#home-overlay {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1 {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

#home-heading h1 span {
  color: #3399FF;
  font-weight: 500;
}

#home-heading-1 {
  font-family: SAMARN;
  font-size: 72px;
}

#home-btn {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-general {
  font-family: 'Raleway', sans-serif;
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6 px;
  padding: 12px 46px 12px 46px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}

.btn-home:hover, .btn-home:focus {
  color: #fff;
  background-color: #3399FF;
  border: 1px solid #3399FF;
}

#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  width: 32px;
  text-align: center;
  margin-left: -16px;
  z-index: 1;
}

#arrow-down:hover, #arrow-down:focus {
  color: #3399FF;
}

.content-box-lg {
  padding: 120px 0;
}

.vertical-heading h5 {
  color: #3399FF;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -53px;
}

.vertical-heading h2 {
  margin: 0 0 0 35px;
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}

#about-right p:first-child {
  margin-bottom: 30px;
}

#about-bottom {
  margin-top: 60px;
}

#about-bottom img {
  margin: 0 auto;
}

#about-02 {
  background-color: #f4f4f4;
}

.content-box-md {
  padding: 100px 0;
}

.about-item {
  background-color: #fff;
  padding: 80px 30px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.about-item i {
  font-size: 42px;
  margin: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.about-item h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.about-item hr {
  width: 45px;
  height: 3px;
  background-color: #3399FF;
  margin: 0 auto;
  border: none;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.about-item p {
  margin-top: 20px;
}

.about-item:hover {
  background-color: #3399FF;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: #fff;
}

.about-item:hover hr {
  background-color: #fff;
}

.about-item:hover i {
  transform: translateY(-20px);
}

#team-left .vertical-heading {
  min-height: 160px;
}

.team-member {
  margin: 8px;
  position: relative;
}

.team-member img{
  margin-left: auto;
	margin-right: auto;
	display: block;
  max-width: 50%;
  max-height: 50%;
}

.team-member-overlay {
  background-color: rgba(33,34,38,0.9);
  position: absolute;
  margin-left: 25%;
  top: 0;
  left: 0;
  width:50%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.team-member-info {
  width:100%;
  height:100%;
  padding: 80px 0;
}

.team-member-info h6 {
  color: #3399FF;
  font-size: 16px;
  margin: 0;
}

.team-member-info p {
  color: #fff;
}

.team-member:hover .team-member-overlay {
  opacity: 1;
}

ul.social-list {
  padding: 0;
  margin-top: 20px;
}

ul.social-list li {
  display: inline-block;
  padding: 0;
}

ul.social-list li a {
  border: 1px solid #fff;
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

ul.social-list li:nth-child(1) a:hover {
  background: #3b5998;
  border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
  background: #00aced;
  border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
  background: #6e5494;
  border-color: transparent;
}

ul.social-list li:nth-child(4) a:hover {
  background: #0077B5;
  border-color: transparent;
}

#statement {
  background: url("../img/tech/tech-statement.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#statement .content-box-lg {
  background: rgba(0,0,0,0.3);
}

#tech-statement h3 {
  color: #fff;
  font-size: 28px;
  line-height: 45px;
}

#tech-statement p {
  font-size: 14px;
  font-weight: 500;
  color: #3399FF;
  font-family: "Raleway", sans-serif;
  margin-top: 8px;
  background: rgba(0,0,0,0.6);
}

.horizontal-heading {
  margin-bottom: 80px;
}

.horizontal-heading h5 {
  font-size: 16px;
  color: #3399FF;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.horizontal-heading h2 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
  margin: 0;
}

#work-01 img {
  margin: 60px 0;
}

.work {
  margin: 35px 0;
}

.work i {
  font-size: 42px;
  margin: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.work:hover i {
  color: #3399FF;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}

.work h5 {
  font-size: 12px;
  text-transform: uppercase;
  color: #3399ff;
  margin: 0 0 6px 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.work:hover h5 {
  color: #212226;
}

.work h4 {
  font-size: 24px;
  margin: 0 0 8px 0;
}

.work p {
  line-height: normal;
}

#works-02 {
  background: #f4f4f4;
}

#works-tabs ul {
  margin-bottom: 40px;
}

#works-tabs ul li {
  padding: 5px 30px;
}

#works-tabs ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #212226;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
}

#works-tabs ul li.r-tabs-state-active a {
  color: #3399FF;
  font-weight: 700;
  border-bottom: 3px solid #3399ff;
  padding-bottom: 5px;
  -webkit-transition: border-color 300ms linear;
  transition: border-color 300ms linear;
}

.work-tab .col-md-6 {
  padding 0;
}

.work-tab img {
  margin-left: auto;
	margin-right: auto;
	display: block;
  max-width: 100%;
  max-height: 100%;
}

.work-tab .tab-bg {
  background: #fff;
  padding: 59px 30px;
  min-height: 500px;
}

.work-tab h2 {
  font-size: 48px;
  color: #bbb;
  margin-bottom: 20px;
  font-weight: 100;
}

.work-tab h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

.work-tab p {
  line-height: 24px;
  margin-bottom: 30px;
}

.btn-blue {
  color: #fff;
  border: 1px solid #fff;
  background-color: #3399FF;
}

.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background-color: #212226;
  border: 1px solid #212226;
}

#contact-left p {
  margin: 25px 0 20px 0;
}

ul.office-details {
  list-style: none;
  padding: 0;
}

ul.office-details li {
  font-family: "Open-Sans", sans-serif;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.office-details li i {
  font-size: 20px;
  width: 45px;
}

#contact-left ul.social-list li a {
  color: #212226;
  border: 1px solid #212226;
  text-align: center;
}

#contact-left ul.social-list li a:hover {
  color: #fff;
  border-color: transparent;
  background-color: #212226;
}

#contact-right {
  padding: 25px 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  border-radius: 4px;
}

#conact-right h4 {
  font-size: 24px;
}

#contact-right p {
  margin-bottom: 25px;
}

#contact-right form .form-control {
  font-family: "Open Sans", sans-serif;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 24px;
}

#contact-right form textarea.form-control {
  min-height: 164px;
}

footer {
  background: #212226;
  padding: 30px;
}

footer p {
  color: #fff;
  line-height: 20px;
}

footer p span {
  font-size: 20px;
  color: #3399FF;
  font-family: SAMARN;
}

#thover{
  position:fixed;
  width:100%;
  height:100%;
  opacity: .6
}

#tpopup{
  position: relative;
  width: 40%;
  top: 4%;
  background:#fff;
  border-radius:5px;
  margin: auto;
  text-align:center;
  box-shadow:0 0 10px 0 #000;
  z-index: 1111111;
}
#tclose{
  position:absolute;
  background:black;
  color:white;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
